	
	
	/* COMMON */
	
	body
	{
		text-align:center;
		padding: 10px 10px 0px 10px;
		margin : 5px 20px 20px 20px;
		font: 11px normal Verdana, Arial, Helvetica, sans-serif;
		background-color:#f1f1f1;
		
 		
	}

	.wrapper
	{
	  background-color:#FFFFFF;	  	
	  
	}
	
	/* CONTENT */
	
	.content{
	width:98%;
		overflow:hidden;	
		margin: 5px 5px 5px 5px;
		background-color:#fbfbfb;
		color:#716D6D;	
		vertical-align:top;
	/*	float:left;*/
		
		
	}
	.contentPanel{
		overflow:auto;
		display:inline-block;
		width:100%;
		 
	}
	#divtitle
	{
		width:100%;
		background-color:black;
		color:Black;		 		
	}
	#divtitle span
	{
		color:white;
	}
	#divtitle a			
	{
		color:white;
	}
	.divHeading
    {
    	
        text-align: left; 
        border:1px solid #f1f1f1;		
    }
    .divHeading img
    {
    	border:0;
    }
     .divHeading table
    {
    	 width:100%;
    }
    .grddata
    {
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tohama,Verdana;
    HEIGHT: 20px;
    border:solid 1px #A7967E;
    
    }
    
    .grdalternatedata
    {
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Tohama,Verdana;
    HEIGHT: 20px;
    border:solid 1px #6394CE;
    background-image:url(../Images/simpletd.png); background-repeat:repeat-x
    }
   
    .subheading
    {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
    color:#716D6D;
    font:bold 11px Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center;
    	
    }
    .txtheading
    {
    color:#716D6D;
    font:bold 11px Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left;
    }
            
    .txtdata
    {    
    TEXT-ALIGN: left;
  	
    }
    .smallDiv 
    {
    	color:#716D6D;
		font:normal 10px/1.9em Verdana, Arial, Helvetica, sans-serif;
    }
    .smallDiv select 
    {
    color:#716D6D;
    font:normal 11px/.9em Verdana, Arial, Helvetica, sans-serif;
    }
    
     .txtdatasmall
    {
    
    color:#716D6D;
    font:normal 10px Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left;
    }
        
 .txtright
 {
    color:#716D6D;
    font:bold 11px Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
 }
 
 .tdmain1
 {
  margin :5px 10px 10px 3px;	
  color:White;
  background-color:Black;
  background-color:Transparent;
  border: 1px solid black ;
  border-radius: 15px;
  behavior: url(border-radius.htc);
  
 }
.Tab
{
	background:transparent;
	color:Black;
    font:normal 11px Verdana, Arial, Helvetica, sans-serif;
    cursor:pointer;
    padding:5px;
    
}

.TabClick 
{
	background-color:White;
	cursor:pointer;
    padding:5px;
    border:solid 1px #CCC;
    border-bottom:none;
    height:15px;
     font-weight:bold;
}





.Higlight
{
	background-color:#dfdfdf;	
	
}
.Higlight span
{
    color:#716D6D;
    font:normal 11px Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left;
}
.Hide
{
 display:none;
}

.Show
{
	display:block;
}
.anch
{
	cursor:pointer;
	color:Black;
}
.anch:hover
{
	color:#b9251a;
	text-decoration:underline;
}
.anch:visited
{
    font:normal 11px Verdana, Arial, Helvetica, sans-serif;
    COLOR:#006989 ;
        
}
.disText
{
	color:#b9251a;	
	
}

.disText span
{
	color:#b9251a;	
	font-weight:bolder;
}
.disText span:hover
{
 color:Red;
 font-weight:bolder;
}
.Gdiv
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	color:#716D6D;
	 text-align:left;
	 width:18%;
	 float:left; 
	 overflow:auto
}
.Gdiv ul li
{
	 color:#b9251a;	
}
.Gdiv ul li span
{
	 color:#716D6D;
	 font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	  font-style:italic;
}
.Gdiv ul li span:hover
{
	 color:#b9251a;	
	 font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	  font-style:italic;
}
.Pane
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
	display:inline-block;
	color:#716D6D !important;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif !important;
	text-align:left;
	 width:18%;
	 height:60%; 
	 float:left; 
	 overflow:auto
}

.Smenu
{
	
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	 background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
    cursor:pointer;
    text-align:left;
    padding: 3px 5px 5px 11px;
    background-color: #b9251a;
    height:12px;
    border:solid 1px #CCC;
    width:90%;
    /* easy rounded corners for modern browsers */
    
}
.Smenu:hover
{
	color:#b9251a;
	text-decoration:underline;
}
.SelectedMenu
{
	
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
    background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
    text-align:left;
    padding: 3px 5px 5px 11px;
    height:12px;
    color:#b9251a;
    	 border:solid 1px #CCC;
    width:90%;
    /* easy rounded corners for modern browsers */
   
   
}


.Theading
	{
		 
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	    background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
		background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
		 border-bottom : solid 1px #dfdfdf;
		vertical-align:top;
	    text-align:left; 
	    padding-left:30px;
		
		
		
	}
.AllBorder
{
  border:solid 1px #CCC;
  border-top:none;
}	
.LBorder
{
  border-left:dotted px black;
  text-align:left;
	
}
.BTBorder
{
  border-bottom:dotted 1px black;
	color:#716D6D;
    font:normal 11px Verdana, Arial, Helvetica, sans-serif;
}
.RBorder
{
   border-right:dotted 1px black;
    display:block;
}

input[type=text],input[type=password],select
{
    padding:5px;
    padding-left:1px;
}


p,font,TD,div,select,input[type=text],li{
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	color:black;
	
}
h5 {
  font-size: 110%;
  font-weight: bold
}

.bigBox
{
    
	/*height:20px;
	font-size:9pt;*/
}
font
{
	color:#716D6D;
}

.Cbutton {
border: solid 0px #dfdfdf !important;
border-width:1px;
cursor: pointer;
font-weight: bold;
padding: 10px !important;

text-align: center;
width: auto;
clear: left;
font:bold 12px Verdana, Arial, Helvetica, sans-serif;
white-space: nowrap;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#950000', endColorstr='#950411');
    background: -webkit-gradient(linear, left top, left bottom,from(#950000), to(#950411));
    background: -moz-linear-gradient:top, #950000, #950411);

border-radius: 3px;    
color: #ffffff;

}

.Cbutton:hover{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#950000', endColorstr='#950411');
-webkit-gradient:linear, left top, left bottom, from(#950000), to(#950411));
-moz-linear-gradient:top, #950000, #950411);
text-decoration:underline;
color: #ffffff;

}
.controls
{
	float:right;
	vertical-align:top;	
}
.controls span
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
	border: 1px solid #CCC !important;
	border:1px solid;
	text-align:center;
	display: block !important;
	float:left !important;
	width: 40px !important;
	height:25px;
	margin-right:5px;
	padding:2px 2px 2px 2px;
	cursor:pointer !important	;
	
}
.controls span:hover
{
	border:1px solid #b9251a !important;
	cursor:pointer !important;
}
.controls span img
{
	height:25px;
	width:25px;
	
	
}
.Bigcontrols
{
	
	vertical-align:top;	
	padding:10px;
}
.Bigcontrols span
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
	border: 1px solid #CCC !important;
	 border:1px solid;
	display: block !important;
	float:left !important;
	width: 100px;
	height:100px;
	margin-right:20px;
	padding:2px 2px 2px 2px;
	cursor:pointer !important	;
	
}
.Bigcontrols span:hover
{
	border:1px solid #b9251a !important;
	cursor:pointer !important;
}
.Bigcontrols span img
{
	height:70px;
	width:70px;
	
}
.Bigcontrols span input[type=image]
{
	height:70px;
	width:70px;
	
}

.grdDiv
{
	 background-color:#f1f1f1 ;
	 width:90%;
	 height:auto;
}
.myTable
 {
	color:#716D6D;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	white-space:nowrap 
	
 }

.myTable tr
 {
	background-color: WHITE;
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	border: solid 1px #dfdfdf;
	width:auto;
	white-space:nowrap 
	 	
 }
 
 .myTable tr td
 {
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	width:auto;
	padding-left:5px;
	padding-right:5px;
	padding:5px;
	border-bottom: solid 1px #dfdfdf;
    white-space:nowrap 
	 
	
 }
 
 .myTable .nopadding tr td
 {
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	width:auto;
		border-bottom: solid 1px #dfdfdf;
	padding:0px;	
    text-wrap:none !important ;
 }
 .myTable .header th 
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
    border-right: solid 1px #dfdfdf;
	color: black;
	text-align:left;
	padding:10px;
	white-space:nowrap 
	
}


.myTable tr:hover
 {
 	
	background-color:#f0f0f0;
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	width:auto;
			text-wrap:none !important ;
 }

.myTable .noHover tr:hover
 {
 	
	background-color: WHITE;
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	border: solid 1px #dfdfdf;
	width:auto;
		text-wrap:none !important ;
 }
.myTable tr.noHover
 {
 	
	background-color:WHITE;
	color:black;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	width:auto;
		text-wrap:none !important ;
 }
  .myTable tr.RowClick td
 {
 	background-color:#f0f0f0;
	color:black;	
		text-wrap:none !important ;
 }

.myTable .toolstrip td
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	 background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
		background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  display:inline-block;
    border : solid 1px #CCC;
    	
 }
.myTable .pgr  
{

	border : solid 1px #CCC;
 }  
.myTable .pgr table { margin: 5px 0;  }  
.myTable .pgr td    
{
	
	text-align:center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9') !important;
     padding: 0px 6px;
     font:bold 11px Verdana, Arial, Helvetica, sans-serif;
    
    color: #b9251a;   
    text-decoration:underline;
    line-height: 15px;
    height:20px;   
    border-bottom:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
    	white-space:nowrap;
 }     
.myTable .pgr a { font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:black; text-decoration: none; padding:5px; }  
.myTable .pgr a:hover,
.myTable .pgr a:hover:active { color: #b9251a; text-decoration:underline; }		

.toolstrip
{
	display:inline-block;
    border-bottom : dotted 1px #CCC;
    font:normal 11px Verdana, Arial, Helvetica, sans-serif;
    
}
.toolstrip  div {font:normal 11px Verdana, Arial, Helvetica, sans-serif;padding-right:15px;}
.toolstrip .smallIco
{
	float:left;
	margin:2px;
	padding:3px 3px 3px 3px;
	text-align:center;
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
    cursor:pointer;
    border : solid 1px #eeeeee;
 }
 .toolstrip .smallIco img
 {
	height:20px;
    width:20px;
 }
  .toolstrip .smallIco input[type=image]
 {
	height:20px;
    width:20px;
 }
.toolstrip .smallIco:hover	
{
    margin:2px;
    border : solid 1px #b9251a;
    padding:3px 3px 3px 3px;
    
}

.navdiv
{
	background: #008ab3; /* for non-css3 browsers */
	border-radius: 15px;
	behavior: url(border-radius.htc);
	z-index:100;
	padding:2px 2px 2px 2px;
	
}

*
{
	margin: 0;
	padding: 0;
}

.nav {
	
	display:inline-block;
	min-height:20px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
	background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
    width:100%; 
	
	
}


a
{
	text-decoration: none;
	color:Black;
}
a:hover
{
	text-decoration: underline;
}
ul
{
	list-style: none;
}
ul.dropdown
{
	position: relative;
	
}
ul.dropdown li
{
	float: left;
	zoom: 1;
	background: transparent;
}
ul.dropdown a:hover
{
	color: #000;
}
ul.dropdown a:active
{
	color: #ffa500;
}
ul.dropdown li a
{
	display: block;
	padding: 9px 10px;
	border-right: 1px solid #CCC;
	color: black;
	text-align:left;
}
ul.dropdown li:last-child a
{
	border-right: 0px !important;
}


ul.dropdown li.hover , ul.dropdown li:hover
{
	background:#f0f0f0;
	position: relative;
	left:0;
	 z-index:1000000;
}
ul.dropdown li a:hover
{
	color:#b9251a;
}


/* 
	LEVEL TWO
*/
ul.dropdown ul
{
	width: 220px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	
}
ul.dropdown ul li
{
	font-weight: normal;
	background:#fff;
	color: #000;
	border-left: 1px solid #ccc;
	float: none;
}



/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a
{
	border-right: none;
	width: 100%;
	display: inline-block;
}

/* 
	LEVEL THREE
*/
ul.dropdown ul ul
{
	left: 100%;
	top: 0;
}
ul.dropdown li:hover > ul
{
	visibility: visible;
}
.divLicense
{
 background-color:#FFFFFF;
	width:98%; 
	text-align:left; 
	margin-top:2%; 
	padding-left:15px; 
	padding-top:15px; 
	border:solid 1px #ccc;
	
}
.divLicense .LIcDiv
{
 text-align:left;
	width:90%; 
	-moz-box-shadow: 0 0 15px 15px #f9f9f9;
-webkit-box-shadow: 0 0 15px 15px #f9f9f9;
box-shadow: 0 0 15px 15px #f9f9f9;

	}
	
.tblShadow
{
-moz-box-shadow: 0 0 15px 15px #f9f9f9;
-webkit-box-shadow: 0 0 15px 15px #f9f9f9;
box-shadow: 0 0 5px 2px #f9f9f9;
 border-right-style:outset ;
 border-bottom-style:outset ;
 border-left-style:solid;
 border-left-width:1px; 
 border-left-color:red;
 border-width:	5px;
 border-color:#f9f9f9;
}
    .dashtable
	{
	   
	    width:100%;
	}
	.dashtable .filter td
	{
	    border-bottom : 1px solid transparent;
	     border-color : #e3e8ed;
         text-wrap:none;
	}
	.dashtable tr th
	{
	    background:#f7f8f9;
	    padding:10px 15px;
	    border-bottom : 1px solid transparent;
	    border-color : #e3e8ed;
	    font-family:Arial;
	    font-weight:bold;
	    font-size:12px;
        text-wrap:avoid ;
        color:#716D6D;
	   
	}
	.dashtable tr td
	{
	    padding: 8px;
	    text-align:left;
	}
	
	.dashdiv
	{
	    padding-bottom:5px;
	     border-collapse:separate;
	    border :1px solid transparent;
	    border-color :#e3e8ed;
	    height:400px;
	    /*width:100px;*/
      
	}
	
	 .directortable
	{
	    width:100%;
	}
	.directortable .filter td
	{
	    border-bottom : 1px solid transparent;
	     border-color : #e3e8ed;
         text-wrap:none;
	}
	.directortable tr th
	{
	    background:#f7f8f9;
	    padding:10px 15px;
	    border-bottom : 1px solid transparent;
	    border-color : #e3e8ed;
	    font-family:Arial;
	    font-weight:bold;
	    font-size:12px;
        text-wrap:avoid ;
        color:#716D6D;
	   
	}
	.directortable tr td
	{
	    padding: 3px;
	    text-align:left;
	    padding-left:30px;
	    font-family:Arial;
	    font-size:13px;
	}
	
	.directordiv
	{
	    padding-bottom:20px;
	     border-collapse:separate;
	    border :1px solid transparent;
	    border-color :#e3e8ed;
	    height:auto;
        overflow:auto;
	    width:99%;
      
	}

.hotspot {padding-bottom:1px;cursor:pointer}

#tt {position:absolute; display:block; background:url(../images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(../images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 11px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(../images/tt_bottom.gif) top right no-repeat; overflow:hidden}

