
/*
 * Bootstrap v2.1.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}.clearfix:after{clear:both}.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted #333;outline:5px
auto -webkit-focus-ring-color;outline-offset:-2px}a:hover,a:active{outline:0}sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}#map_canvas
img{max-width:none}button,input,select,textarea{margin:0;font-size:100%;vertical-align:middle}button,input{*overflow:visible;line-height:normal}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}textarea{overflow:auto;vertical-align:top}a{color:#0f3b68;text-decoration:none}a:hover{color:#0f3b68;text-decoration:underline}.img-rounded{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}.img-polaroid{padding:4px;background-color:#fff;border:1px
solid #ccc;border:1px
solid rgba(0, 0, 0, 0.2);-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);box-shadow:0 1px 3px rgba(0,0,0,0.1)}.img-circle{-webkit-border-radius:500px;-moz-border-radius:500px;border-radius:500px}.row{margin-left:-20px;*zoom:1}.row:before,.row:after{display:table;content:"";line-height:0}.row:after{clear:both}[class*="span"]{float:left;min-height:1px;margin-left:20px}.container,.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom
.row-fluid .offset1:first-child{margin-left:7.2727272727272725%;*margin-left:7.181818181818181%}[class*="span"].hide,.row-fluid [class*="span"].hide{display:none}[class*="span"].pull-right,.row-fluid [class*="span"].pl-right{float:right}.container{margin-right:auto;margin-left:auto;*zoom:1}.container:before,.container:after{display:table;content:"";line-height:0}.container:after{clear:both}.container-fluid{padding-right:20px;padding-left:20px;*zoom:1}.container-fluid:before,.container-fluid:after{display:table;content:"";line-height:0}.container-fluid:after{clear:both}p{margin:0
0 0.75}.lead{margin-bottom:1.5;font-size:21px;font-weight:200;line-height:2.25}small{font-size:85%}strong{font-weight:bold}em{font-style:italic}cite{font-style:normal}.muted{color:#999}.text-warning{color:#c09853}.text-error{color:#b94a48}.text-info{color:#3a87ad}.text-success{color:#468847}h1,h2,h3,h4,h5,h6{margin:0;font-family:inherit;font-weight:bold;line-height:1;color:inherit;text-rendering:optimizelegibility}h1 small,h2 small,h3 small,h4 small,h5 small,h6
small{font-weight:normal;line-height:1;color:#999}h1{font-size:36px;line-height:40px}h2{font-size:30px;line-height:40px}h3{font-size:24px;line-height:40px}h4{font-size:18px;line-height:20px}h5{font-size:14px;line-height:20px}h6{font-size:12px;line-height:20px}h1
small{font-size:24px}h2
small{font-size:18px}h3
small{font-size:14px}h4
small{font-size:14px}.page-header{padding-bottom:-0.25;margin:1.5 0 2.25;border-bottom:1px solid #eee}ul,ol{padding:0;margin:0
0 0.75 25px}ul ul,ul ol,ol ol,ol
ul{margin-bottom:0}li{line-height:1.5}ul.unstyled,ol.unstyled{margin-left:0;list-style:none}dl{margin-bottom:1.5}dt,dd{line-height:1.5}dt{font-weight:bold}dd{margin-left:0.75}.dl-horizontal{*zoom:1}.dl-horizontal:before,.dl-horizontal:after{display:table;content:"";line-height:0}.dl-horizontal:after{clear:both}.dl-horizontal
dt{float:left;width:160px;clear:left;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.dl-horizontal
dd{margin-left:180px}hr{margin:1.5 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}abbr[title]{cursor:help;border-bottom:1px dotted #999}abbr.initialism{font-size:90%;text-transform:uppercase}blockquote{padding:0
0 0 15px;margin:0
0 1.5;border-left:5px solid #eee}blockquote
p{margin-bottom:0;font-size:16px;font-weight:300;line-height:1.875}blockquote
small{display:block;line-height:1.5;color:#999}blockquote small:before{content:'\2014 \00A0'}blockquote.pull-right{float:right;padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0}blockquote.pull-right p,blockquote.pull-right
small{text-align:right}blockquote.pull-right small:before{content:''}blockquote.pull-right small:after{content:'\00A0 \2014'}q:before,q:after,blockquote:before,blockquote:after{content:""}address{display:block;margin-bottom:1.5;font-style:normal;line-height:1.5}code,pre{padding:0
3px 2px;font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:12px;color:#333;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}code{padding:2px
4px;color:#d14;background-color:#f7f7f9;border:1px
solid #e1e1e8}pre{display:block;padding:0.25;margin:0
0 0.75;font-size:13px;line-height:1.5;background-color:#f5f5f5;border:1px
solid #ccc;border:1px
solid rgba(0,0,0,0.15);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}pre.prettyprint{margin-bottom:1.5}pre
code{padding:0;color:inherit;background-color:transparent;border:0}.pre-scrollable{max-height:340px;overflow-y:scroll}#jnp-container{margin:20px
0 40px 0}#jnp-container
h4{margin-bottom:20px;font-weight:bold;font-size:26px;line-height:36px}#jnp-container
.open{font-weight:bold;color:#f00}#jnp-container
.solved{font-weight:bold;color:#00A600}.post-navi-bottom{margin:30px
0 20px 0;color:#999;border-top:1px dashed #DDD;padding-top:20px}.book{margin-right:20px;float:left;text-align:center;width:70px}.books-img{margin-bottom:10px;border:1px
solid #000}.books-img
img{width:70px;height:80px}ol{padding:0;margin:0
0 12px 36px}ul{padding:0;}ul
li{margin-bottom:4px}form{margin:0}code{color:#0F3B68;padding:4px}p{margin:0
0 20px 0}textarea{padding:4px}pre{margin:0
0 20px 0;padding:10px;-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;border:1px
solid #D1D1E8;background-color:#F7F7F9;overflow-x:auto}.images{background-image:url('http://www.mkyong.com/wp-content/themes/mkyong-ma/images/all-images.png');width:125px;height:125px}.post-thumbnail{margin:0
20px 0 0;border:1px
solid #DDD;padding:4px;float:left}.attachment-100x100{width:100px;height:100px}.field-required{color:red}.iframe-demo{background-color:#F9F9F9;border:1px
solid #DDD;margin:20px
0;padding:20px;text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}input.watermark{color:#999}#contact-form-submit-post input, #contact-form-submit-post
textarea{width:auto!important}#post-comments
textarea{width:auto!important}#captch-img{border:1px
solid #DDD;padding:4px;margin-bottom:10px;width:70px}.nav-previous,.nav-next{margin:20px}#sidebar-signup{background:-o-linear-gradient(top,#6281AE,#4F6B92);background:-webkit-gradient(linear,0% 0,0% 100%,from(#6281AE),to(#4F6B92));background:-webkit-linear-gradient(top,#6281AE,#4F6B92);background:-moz-linear-gradient(top,#6281AE,#4F6B92);background:-ms-linear-gradient(top,#6281AE,#4F6B92);background:-o-linear-gradient(top,#6281AE,#4F6B92);border:1px
solid #496183;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;box-shadow:0 4px 4px -4px rgba(0, 0, 0, 0.7);-moz-box-shadow:0 4px 4px -4px rgba(0,0,0,0.7);-webkit-box-shadow:0 4px 4px -4px rgba(0, 0, 0, 0.7);box-shadow:0 4px 4px -4px rgba(0, 0, 0, 0.7);font:14px Helvetica,Arial,sans-serif;margin:0
0 10px;padding:10px
10px 14px 10px}#sidebar-signup
label{color:white;font-size: .95em!important;margin:0!important;display:block;padding:0
0 7px!important;text-shadow:1px 1px #49668F;font-weight:normal}#sidebar-signup
input{width:auto!important;margin-bottom:0px!important;padding:2px}#header-top{background-color:#0A2540;border-bottom:1px solid #3B5166;font-size:12px}#header-top-container{float:right;margin-bottom:4px}#header-top-container ul
li{float:left;margin:0;padding:4px
20px 0 0;list-style-type:none}#header-top a:link,#header-top a:visited,#header-top a:active{text-decoration:none;color:#fff}#header-top a:hover{text-decoration:underline;color:#fff}#header{background-color:#0F3B68}#header-logo{padding:20px
0;float:left}#logo{width:300px;height:60px;background:url("http://www.mkyong.com/wp-content/themes/mkyong-ma/images/logo.png") no-repeat scroll transparent}#header-banner{padding:2px
0;float:right}.tut-title{font-size:26px;margin:10px
10px 10px 10px}.dropdown-item{padding-bottom:10px}.dropdown-item
li{display:list-item!important;padding:0
0 4px 0!important;margin:0!important;clear:both!important}.dropdown a:hover{color:#99CAFF!important;text-decoration:underline!important}#menu{background: url("images/footer_bg.jpg") repeat-x;color:#0979db;border-bottom:1px solid #97A1AB;border-top:1px solid #A6AEB7;font-size:14px;}#menu
ul{margin:0!important}#menu
li{float:left;display:block;text-align:center;position:relative;padding-left:5px;padding-right:5px;
20px;border:none;
0px}.menu-allround:hover{display:block;background:#0F3B68;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}.menu-topround:hover{display:block;background:#0F3B68;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px;border-radius:10px 10px 0px 0px}#spring-menu,#frameworks-menu,#java-core-menu,#struts-menu,#android-menu,#hibernate-menu,#jsf-menu,#java-menu,#misc-menu{margin:3px
auto;float:left;position:absolute;left:-999em;text-align:left;padding:10px
5px 10px 5px;border:1px
solid #0F3B68;-moz-border-radius:0px 10px 10px 10px;-webkit-border-radius:0px 10px 10px 10px;border-radius:0px 10px 10px 10px;border-top:none;background:#0F3B68;z-indeX:999}#spring-menu{width:300px}#struts-menu{width:300px}#android-menu{width:400px}#hibernate-menu{width:300px}#frameworks-menu{width:300px}#java-core-menu{width:300px}#jsf-menu{width:300px}#java-menu{width:300px}#misc-menu{width:200px}#menu li:hover #java-core-menu,
#menu li:hover #frameworks-menu,
#menu li:hover #spring-menu,
#menu li:hover #struts-menu,
#menu li:hover #android-menu,
#menu li:hover #hibernate-menu,
#menu li:hover #jsf-menu,
#menu li:hover #java-menu,
#menu li:hover #misc-menu{left:0px;top:30px}#menu li
a{color:#fff}#menu li:hover
a{color:#fff;text-decoration:none}#menu li
a.active{color:#fff;text-decoration:none}.post-thumbnail{margin:0
10px 0 0;border:1px
solid #DDD;padding:4px;float:left}.filename{background:none repeat scroll 0 0 #E6E6FC;border-radius:4px 4px 0px 0px;color:#333;padding:3px
10px 3px 10px;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.75);word-wrap:break-word;border:1px
solid #D1D1E8;border-bottom:none}#author-info{margin:20px
0;background-color:#F8F8F8;border-left:5px solid #E1E1E1;padding:20px;display:block}#author-avatar{float:left;margin-right:10px;border:1px
solid #DDD;padding:4px}#big-author-avatar
img{float:left;margin-right:20px;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#small-author-avatar
img{width:40px;height:40px;float:left;margin-right:10px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}#author-link{font-size:24px;margin-bottom:2px}#author-description{margin-left:110px}#post-after-related-post{float:left;margin-right:40px;width:360px}#post-after-related-post h4, #post-after-popular-post
h4{margin:0
0 10px 0!important}#post-after-popular-post{float:left;width:350px}#post-after-banner{margin:10px
0}#all-posts-by-author{background-color:#F4F4F4;margin-bottom:20px;padding:10px;border-top:1px solid #DEDEDE;border-bottom:1px solid white;color:#999;margin-top:20px}#post-container
ul{list-style-image:url('http://www.mkyong.com/wp-content/themes/mkyong-ma/images/arrow-red.png')}#page-title{margin:0
0 20px 0!important}#post-container
h1{text-transform:capitalize;line-height:1.2em;letter-spacing:-1px;margin-bottom:6px;font-size:32px}#post-container h4,#post-container
h3{margin:50px
0 4px 0;font-weight:bold;font-size:24px;line-height:36px}#post-container a:link,#post-container a:visited,#post-container a:active{text-decoration:underline}#post-container a:hover{text-decoration:none}.post-meta{font-size:14px;margin-bottom:20px;color:#999;border-bottom:1px dashed #DDD;padding-bottom:20px}#author-name{font-size:24px;margin-bottom:10px}.post-tag
a{color:#3E6D8E;background-color:#E0EAF1;border-bottom:1px solid #3E6D8E;border-right:1px solid #7F9FB6;padding:5px
10px;margin:2px
2px 2px 0;text-decoration:none!important;white-space:nowrap}.post-tag a:hover{background-color:#3E6D8E;color:#E0EAF1;border-bottom:1px solid #37607D;border-right:1px solid #37607D;text-decoration:none}.download{padding:40px
85px;border:1px
solid #CEEBCE;background:url('http://www.mkyong.com/wp-content/themes/mkyong-ma/images/download.png') no-repeat 20px 20px #DFF7DF;margin-bottom:20px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.note{background-color:#E6E6FC;border:1px
solid #D1D1E8;padding:20px;margin:20px
0px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.warning{background-color:#F7F7DA;border:1px
solid #E5E5C3;padding:20px;margin:20px
0px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.trap,.error{background-color:#FAE1E1;border:1px
solid #F5C4C4;padding:20px;margin:20px
0px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.pic{background-color:#F9F9F9;border:1px
solid #DDD;margin:20px
0;padding:20px;text-align:center;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.clearboth{clear:both}.sidebar-ads{margin-bottom:8px}#related-tutorials{margin:40px
0}.listing-post-meta{font-size:14px;margin-bottom:20px;color:#999}#listing-post-container{margin-bottom:40px}#listing-post-container
h2{margin:0
0 10px 0x;padding:0}.listing-box{padding:10px
10px 20px 10px;margin-bottom:20px;border-bottom:1px dashed #E4E4E7}#listing-post-container h1, #listing-post-container
h2{margin:0;font-weight:700;line-height:1.15em;letter-spacing:-1px;color:#252525}#listing-post-container
h1{font-size:2.0em;margin-bottom:20px}#listing-post-container
h2{font-size:1.2em;margin-bottom:2px;text-transform:capitalize}#post-meta-extra{margin:20px
0;color:#999}#listing-post-container .listing-content{margin-left:130px}.bluelink a:link, .bluelink a:visited, .bluelink a:active{text-decoration:underline!important;color:#0F3B68!important}.bluelink a:hover{text-decoration:none!important;color:#0F3B68!important}.authorlink a:link, .authorlink a:visited, .authorlink a:active{text-decoration:none!important;color:#ABABAB!important}.authorlink a:hover{text-decoration:underline!important;color:#0F3B68!important}#listing-paging{margin:40px
0}#post-comments
ol{margin:0}#post-comments
h2{font-size:1.5em;line-height:1.2em;text-transform:capitalize;font-weight:normal;color:#252525;margin:60px
0 20px 0}#post-comments
.odd{background-color:#F8F8F8}#post-comments
.even{background-color:#FFF}#post-comments .comments-date{float:right;font-size:12px;color:#828282}#post-comments
.fn{font-size:18px;font-weight:bold}#post-comments
.comment{overflow:auto}#post-comments
.reply{float:right;clear:both;margin-bottom:20px}#post-comments .comment-box{padding:20px
20px 0 20px;border:1px
solid #E4E4E7;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}#post-comments .commentlist
li{list-style-type:none;margin-bottom:20px}#post-comments
.avatar{float:left;margin:0
20px 10px 0}#post-comments .cancel-reply{margin-left:10px}#respond #reply-title{margin:0
0 20px 0}#respond .comment-form-label{margin:0
0 20px 10px}#post-comments #comment-form-textarea{margin-right:10px}#footer-container{padding:20px
0 15px 0}footer{color:white;font-size:13px}footer a:link,footer a:visited,footer a:active{text-decoration:none;color:#99CAFF}footer a:hover{text-decoration:underline;color:#99CAFF}#footer-container ul
li{line-height:20px;margin-bottom:2px;!important}footer
h3{color:#fff;font-size:16px;border-bottom:1px solid #3F6286;margin:0
0 20px 0;padding:0
0 8px 0;font-size:16px}#footer-avatar{float:left;margin-right:10px}#footer-container{background-color:#0F3B68;min-height:300px}#footer-copyright{background-color:#0A2540;border-top:1px solid #364C62;padding:10px}.img-holder{float:left;margin:0
10px 10px 10px}.img-border{border:1px
solid #DDD;padding:4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.img-android{background-position:1px 1px}.img-gae{background-position:-393px -260px}.img-hibernate{background-position:-130px 1px}.img-jdbc{background-position:1px -391px}.img-io{background-position:-656px 1px}.img-json{background-position:-130px -129px}.img-jquery{background-position:-130px -260px}.img-jsf2{background-position:-261px -129px}.img-maven{background-position:-524px -129px}.img-regex{background-position:1px -129px}.img-spring{background-position:-261px 1px}.img-struts{background-position:-130px -391px}.img-struts2{background-position:-261px -391px}.img-jaxws{background-position:-392px -129px}.img-jaxrs{background-position:1px -260px}.img-mongodb{background-position:-656px -129px}.img-wicket{background-position:-524px 1px}.img-java{background-position:-656px -260px}.img-quartz{background-position:-392px -392px}.img-xml{background-position:-392px 1px}.img-json{background-position:-130px -129px}.img-junit{background-position:-261px -260px}.img-testng{background-position:-524px -260px}#mainpage
h2{font-size:16px;margin:0px;padding:0
0 4px 0;line-height:1.5}#mainpage
.row{margin-bottom:20px}div.wpcf7{margin:0;padding:0}div.wpcf7-response-output{margin:2em
0.5em 1em;padding:0.2em 1em}div.wpcf7-mail-sent-ok{border:2px
solid #398f14}div.wpcf7-mail-sent-ng{border:2px
solid #f00}div.wpcf7-spam-blocked{border:2px
solid #ffa500}div.wpcf7-validation-errors{border:2px
solid #f7e700}span.wpcf7-form-control-wrap{position:relative}span.wpcf7-not-valid-tip{position:absolute;top:20%;left:20%;z-index:100;background:#fff;border:1px
solid #f00;font-size:10pt;width:280px;padding:2px}span.wpcf7-not-valid-tip-no-ajax{color:#f00;font-size:10pt;display:block}span.wpcf7-list-item{margin-left:0.5em}.wpcf7-display-none{display:none}div.wpcf7 img.ajax-loader{border:none;vertical-align:middle;margin-left:4px}div.wpcf7
.watermark{color:#888}.wp-pagenavi{clear:both}.wp-pagenavi a, .wp-pagenavi
span{text-decoration:none;border:1px
solid #BFBFBF;padding:3px
5px;margin:2px}.wp-pagenavi a:hover, .wp-pagenavi
span.current{border-color:#000}.wp-pagenavi
span.current{font-weight:bold}#st-tutorial-title{margin:10px
0;color:#999}#st-tutorial-list{margin:20px
0 40px 0}#st-tutorial-list
ul{margin:0;padding:0;text-align:center}#st-tutorial-list ul
li{float:left;list-style-type:none;list-style-image:none;margin:0;padding:0
20px 10px 0}