/* Footer Menu*/
#footer{padding:10px 0;}
#footer-menu{float:left;width:550px;margin-left: 54px;color:#797979;}
#footer-menu ul{margin:5px 0 0 0;list-style:none;padding:0;}
#footer-menu ul li {margin:5px 0 0 0;float:left;padding:0 5px;font-family:verdana;font-size: 12px;}
#footer-menu ul li a, #footer-menu a{color: #797979; font-size: 12px; text-decoration: none;font-family:verdana;line-height:17px;}
#footer-menu ul li a:hover, #footer-menu a:hover{color: #DC1A00;  text-decoration: none;font-family:verdana;line-height:17px;}
/* End of Footer Menu*/float:left;

/* Inner Footer */
.expstickybar{
position:fixed;
color: #515151;
padding: 5px;
right:0; /*horizontally center bar in window*/
left:0; /*horizontally center bar in window*/
visibility:hidden;
background: url("images/footer_bg.jpg") repeat-x scroll 0 0 transparent;
z-index: 10000;
width:auto; /*set width of bar to width of entire window*/
font-weight:normal;
}

.expstickybar a{
color: #b8b8b8;
font-size: 14px;
line-height: 20px;
}
.expstickybar a:hover{
color:#DC1A00;
}
.inner-footer-content-extent{margin:0 auto;width: 976px;border-top:1px dashed #3c3c3c;padding-top:10px ;}
.inner-footer-content-extent .inner-footer-menu a{font-size:12px;font-family:verdana;}
.footer-open-images{border-width:0; float:right;}
/* Inner Footer ends here*/
.addthis_toolbox{padding-right: 0px;}
.thank-you-left{float:left;width:568px;line-height:26px;margin-left: 35px;padding-top:20px;}
.thank-you-right{float:left;width:304px;vertical-align: top;}
.padding-bottom-text{padding-bottom:10px;}
.captcha{margin-bottom:10px;}
.multilingual-website{float:left;margin-left:5px; text-align: center;}
.website-logo{height:123px;margin-top:10px;}
.website-logo2{height:123px;margin-top:20px;}
.phne-number-color{color: #DC1A00;}
.ddimgtooltip{
box-shadow: 3px 3px 3px #797979; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 3px 3px 3px #797979;
-moz-box-shadow: 3px 3px 3px #797979;
display:none;
position:absolute;
border:1px solid black;
background:white;
color: black;
z-index:2000;
padding: 4px;
top:10px;
font-size:12px;
line-height:17px;
color:#797979;
}
.inner-footer-menu{margin:0 70px;padding-bottom:10px; }
.inner-bottom-separator{border-bottom: 1px dashed #3C3C3C;height:1px;}
#footer-menu img{vertical-align:middle;}
.inner-footer-menu .inner-footer-menu-section1,.inner-footer-menu .inner-footer-menu-section2, 
.inner-footer-menu .inner-footer-menu-section3,.inner-footer-menu .inner-footer-menu-section4{float:left;padding:0 23px;}

.inner-footer-content-extent .parent-menu a{ color:#fff;font-size:14px;font-family:verdana;}
.inner-footer-content-extent .parent-menu a:hover{font-size:14px;font-family:verdana;}
.inner-footer-menu ul{margin:5px 0px 0 5px;padding:0;}
.inner-footer-menu ul li{list-style:none;background:url("../images/bullets_right_gray.gif") no-repeat 0 8px;
 padding-left: 10px;
}
.inner-footer-separator{width:2px; border-right:1px dotted #3c3c3c; float: left; margin-top:33px;height:118px;}
.Nv{display:none;}
.heightJob{height:23px;}
#mystickytooltip  .app-type-left{ width:408px;}
#mystickytooltip  .app-type-right{ width:408px;}
#mystickytooltip  .app-type-new ul { margin:0;}


.myTable
 {
	
	font:normal 13px/1.9em Tahoma, Helvetica, sans-serif;
 }

.myTable tr
 {
	
	font:normal 13px/1.9em Tahoma,Helvetica, sans-serif;
	width:auto;
		
 }
 .myTable tr td
 {

	font:normal 13px/1.9em Tahoma, Helvetica, sans-serif;
	text-align:left;
	width:auto;
	padding-left:12px;	
 }
.myTable tr td .right
 {
	
	font:normal 13px/1.9em Tahoma, Helvetica, sans-serif;
	text-align:right;
	width:auto;
		
 }
.myTable th
 {
	font:bold 13px/1.9em Tahoma, Helvetica, sans-serif;
	text-align:left;
	width:auto;
	padding-left:12px;	
 }
.myTable .header th 
{
	color:white;
   font:bold 13px/1.8em Tahoma, Helvetica, sans-serif;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#0173bc',endColorstr='#4388c1');
   text-align:left;
   height:auto;
   text-valign:top;
   padding-left: 10px;
   }

   
 .mTable
 {
	color:#000000;
	font:normal 13px/1.9em Tahoma, Helvetica, sans-serif;
	
 }
.mTable .header th 
{
	
   font:bold 13px/1.8em Tahoma, Helvetica, sans-serif;
   text-align:center;
   height:auto;
   text-valign:top;
   }
.mTable th 
{
	
   font:bold 13px/1.8em Tahoma, Helvetica, sans-serif;
   text-align:left;
   height:auto;
   text-valign:top;
   }
 .mTable tr td
 {
	text-align:left;
	width:auto;
			
 }
 .divHeading 
 {
	text-align:center;
	width:99%;
	padding-top : 10px;
	padding-bottom : 10px;		
	font-weight:bold;
 }
 
 
 
 .Hide
{
 display:none;
}


.myTable tr:hover
 {
 	
	background-color:#f0f0f0;
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	width:auto;
			text-wrap:none !important ;
 }

.myTable .noHover tr:hover
 {
 	
	background-color: WHITE;
	color:#716D6D;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	border: solid 1px #dfdfdf;
	width:auto;
		text-wrap:none !important ;
 }
.myTable tr.noHover
 {
 	
	background-color:WHITE;
	color:black;	
	font:normal 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	width:auto;
		text-wrap:none !important ;
 }
  .myTable tr.RowClick td
 {
 	background-color:#f0f0f0;
	color:black;	
		text-wrap:none !important ;
 }

.myTable .toolstrip td
{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
	 background: -webkit-gradient(linear, left top, left bottom,from(#ffffff), to(#d9d9d9));
		background: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  display:inline-block;
    border : solid 1px #CCC;
    	
 }
.myTable .pgr  
{

	border : solid 1px #CCC;
 }  
.myTable .pgr table { margin: 5px 0;  }  
.myTable .pgr td    
{
	
	text-align:center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9') !important;
     padding: 0px 6px;
     font:bold 11px Verdana, Arial, Helvetica, sans-serif;
    
    color: #b9251a;   
    text-decoration:underline;
    line-height: 15px;
    height:20px;   
    border-bottom:solid 1px #cccccc;
    border-right:solid 1px #cccccc;
    	white-space:nowrap;
 }     
.myTable .pgr a { font:normal 11px Verdana, Arial, Helvetica, sans-serif; color:black; text-decoration: none; padding:5px; }  
.myTable .pgr a:hover,
.myTable .pgr a:hover:active { color: #b9251a; text-decoration:underline; }		

/********************************************Button Style sheet****************************************/


.btn_style {
  background: #b11d14;
  color: white;
  border: 2px solid #eee;
  height: 30px;
  width: 90px;
  overflow: hidden;
  text-align: center;
  line-height: 20px;
  
  /*Transition*/
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
  
  /*Rounded Corners*/
 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
border-radius: 10px;
/*position:relative ;*/
  
  /*Gradient*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  
  /*Shadow*/
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  
 
}
.btn_style:hover 
{
cursor:pointer ;
color:#0D5BD1 ;
background: #fafafa url(images/bg.gif) repeat-x ;
  border :1px solid #0D5BD1;
}


/********************************************Button Style Sheet End ****************************************/

.tab_divs
{
	width:104.2%;
	margin-left: 2.7%;
	padding-top: 5%;
	border: #dfdfdf 1px solid;
}

/************************************************************************************************************/

/*****************border****************************/
.tb_borders{
	border-left: #dfdfdf 1px solid;
	border-top: #dfdfdf 1px solid; 
	border-right: #dfdfdf 1px solid;
	width: 60%;
	border-bottom: #dfdfdf 1px solid;
	padding-right:6%;
	padding-bottom:4%;
	padding-top:2%;
	padding-left: 6%;
	
	
	
	}
	
.char_srch_style
{
	align: center;
	text-align: center; 
	font-size: 11px; 
	color: red;
}

.dateformat
{
	font-weight:lighter;
	font-size: 11px; 
	
}	
	