 div, span, ul, ol, li {
margin: 0;
padding: 0;
line-height: auto;
}

ol, ul {
list-style: none;
}
.reg_frm_wrap ul li {
height: 30px;
}
.reg_frm_wrap ul li.right_tab_active {
background:url(images/tabs-v.png) no-repeat left -71px;
width: 110px;
cursor: pointer;
float: right;
}
.reg_frm_wrap ul li.left_tab {
background: url(images/tabs-v.png) no-repeat left -137px;
width: 110px;
cursor: pointer;
float: right;
}
.reg_frm_wrap ul li.back_tab {

width: 70px;
cursor: pointer;
float: right;
}
.pos_abslt{position:absolute;}.fl{float:left;}.fr{float:right;}
.rad_5{border-radius:5px 5px 5px 5px;}
.reg_search_bg_layer
{
	height: 541px;
	z-index: 100;
	background: #7f7f7f;
	top: 0;
	left: 0;
	width: 376px;
	padding: 5px 6px;
	opacity: .2;
	filter: alpha(opacity = 20);
	_background: none;
}
.reg_frm_wrap
{
	
	float: left;
	/*margin: 24px 0 25px 0;*/
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
	border: 2pxsolid#000;
	border-radius: 005px5px;
	-moz-border-radius: 005px5px;
	-webkit-border-radius: 005px5px;
	background: url(images/form-bg-top.png) repeat-x left 0px;
}
.reg_frm_wrap .search_section
{
	 *height:96%;min-height:100%;font-size:14px;color:#666;border-radius:005px5px;-moz-border-radius:005px5px;-webkit-border-radius:005px5px;}
.reg_frm_wrap ul li.left_tab_active
{
	background: url(images/tabs-v.png) no-repeat left top;
	width: 110px;
	cursor: pointer;
	float: right;
}
.reg_frm_wrap ul li.right_tab
{
	background: url(images/tabs-v.png) no-repeat left -170px;
	width: 110px;
	cursor: pointer;
	float: right;
}
.spacer_3
{
	padding: 3px;
}

.form_inner_wrap
{
	background: url(images/form-bg-top.png) repeat-x left 0px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	height: 80%;
	
}
.reg_frm_wrap .form_section
{
	padding: 0 18px 21px 18px;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px; height:435px;min-height:96%;*min-height:100%;}
.reg_frm_wrap .form_section .mand_mark
{
	display: none;
}
. .clearfix, .clear
{
	clear: both;
}
.align_c
{
	text-align: center;
}
.align_l
{
	text-align: left;
}
.align_r
{
	text-align: right;
}
.valign_m
{
	vertical-align: middle;
}
.font_10
{
	font-size: 10px;
}


select,text, .scroll-y {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0 3px 0 0;
padding: 6px 3px 5px;
border: 1px solid #ccc;
font: normal 100% Arial, Tahoma, Helvetica, sans-serif;
}
.input-text-small {
	margin: 0 3px 4px;
	width: 70px;
	background-color: #fff;
}
.input-text-small:focus
{
	border:1px solid #75cd41;
}
.input-text1 {
	margin: 0 3px 4px;
	
	background-color: #fff;
}
.input-text1:focus
{
	border:1px solid #75cd41;
}

.input-text {
	margin: 0 0px 4px;
	width: 220px;
	background-color: #fff;
}
.input-text:focus
{
	border:1px solid #75cd41;
}
input[type="text"]:focus,select:focus, input[type="password"]:focus, textarea:focus {
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

input[type="text"], input[type="password"], textarea, select, .scroll-y {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
color: #666;
}

input[type="text"], input[type="password"], textarea, select, .scroll-y {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 0 3px 0 0;
padding: 6px 3px 5px;
border: 1px solid #ccc;
font: normal 100% Arial, Tahoma, Helvetica, sans-serif;
}


/*************************Start Body style***********/

.bodys {
	background: url("images/page_bg.jpg") repeat-y 0 0 transparent ;
	background-attachment: fixed;
}

/*************************End Body style***********/

/*****************border****************************/
.borders{
	border-left: #dfdfdf 1px solid;
	border-top: #dfdfdf 1px solid; 
	border-right: #dfdfdf 1px solid;
	}

